<!-- base file for all templates [parent template]-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://bootswatch.com/5/morph/bootstrap.min.css" rel="stylesheet"> <!--
	CSS href from bootswatch.com -->
	<title></title>
</head>
<body>
	{% include 'inventory/navigation.html' %} <!-- to make things a little cleaner nav will be in a separate file-->

	{% block content %} <!-- creates content block called 'content' -->
	{% endblock content %}

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> <!-- makes sure that certain things like menus work -->

</body>
</html>

<!-- template tags start with {% -->
<!-- template tags end with %} -->
