{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-3 overflow-auto" style="max-height: 80vh; padding-bottom: 2rem;">
    <a href="{% url 'order_list' %}" class="btn btn-outline-primary my-3 mx-4">Go Back</a>

    <div class="row">
        <div class="col-11 col-md-6 mx-auto mt-5">
            <h2>Create Order</h2>
        
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
            
                <div class="mt-3">
                    <button class="btn btn-primary">Create Order</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}


