{% extends 'inventory/base.html' %}

{% block content %}

<div class="container">
    <div class="row mt-3">
        <div class="col-8">
            <h2>Inventory Dashboard</h2>
        </div>
        <div class="col-md-4 d-flex justify-content-end align-items-center">
            <a href="{% url 'add-item' %}" class="btn btn-outline-primary">+</a>
        </div>
    </div> 

    {% if messages %}
    <div class="row mt-3">
        <div class="col-md-12">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

	<div class="row">
		<div class="col-12 mt-5">
			<!--<div class="d-flex justify-content-end">
				<a href="{% url 'add-item' %}" class="btn btn-primary">+</a>
			</div>-->

			<table class="table table-hover table-striped w-100">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Qty</th>
						<th scope="col">Author</th>
						<th scope="col">ISBN</th>
						<th scope="col">Description</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% if item|length == 0 %} <!-- shows empty table if no values -->
					<tr>
						<th scope="row">-</th>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td><a href="#" class="btn btn-sm btn-primary">Edit</a></td>
						<td><a href="#" class="btn btn-sm btn-primary">Delete</a></td>
					</tr>
					{% endif %}

					{% for item in item %}
					<tr>
						<th scope="row">{{ item.id }}</th>
						<td>{{ item.name }}</td>
						<td>{{ item.quantity }}</td>
						<td>{{ item.author.name }}</td>
						<td>{{ item.ISBN }}</td>
						<td>{{ item.description }}</td>
						<td><a href="{% url 'edit-item' item.id %}" class="btn btn-sm btn-outline-secondary">Edit</a></td>
						<td><a href="{% url 'delete-item' item.id %}" class="btn btn-sm btn-outline-danger">Delete</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			<div>
				Check orders? <a href=" {%url 'order_list' %}">Click here</a>
			
					Create new order? <a href=" {%url 'sale_add' %}">Click here</a>
			</div>
		</div>
	</div>
</div>

{% endblock content %}