{% extends 'inventory/base.html' %}

{% block content %}
<h2>Sale Items</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in sale_items %}
        <tr>
            <td>{{ item.item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
