{% extends 'inventory/base.html' %}

{% block content %}
<h2>Sales</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Total Amount</th>
            <th>Date</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
        <tr>
            <td>{{ sale.customer_name }}</td>
            <td>{{ sale.total_amount }}</td>
            <td>{{ sale.date }}</td>
            <td><a href="{% url 'sale_detail' sale.id %}" class="btn btn-info btn-sm">View Items</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
